*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

header{
    font-size: 30px;
    background-color: rgb(219, 45, 45);
    width: 1000px;
    height: 20px;
    margin: auto;
    text-align: center;
}

body{
     background-color: rgb(22, 139, 175);
 }

 main{
     background-color: rgb(162, 216, 76);
     width: 500px;
     margin: auto;
     padding: 10px;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.336);
 }

 article{
    background-color: rgb(162, 216, 76);
    width: 450px;
    margin: auto;
    padding: 10px;
 }

 img{
     max-width: 150px;
     max-height: 150px;
 }
